<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/8cc76fc728.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <title>Registro SportShoes</title>

Enviar mensaje a #general

</head>

<body>
    <%- include('./partials/header') %>
    <form action="/views/register.html" method="post" class="formulario-registro">
        <h3>CREA TU CUENTA</h3>
        <div>
            <label for="nombre"></label>
            <input class="botones" type="text" name="nombre" placeholder="Ingrese su nombre">
            <label for="apellido"></label>
            <input class="botones" type="text" name="apellido" placeholder="Ingrese su apellido">
            <label for="email"></label>
            <input class="botones" type="email" name="email" placeholder="Ingrese su correo">
        </div>
        <div>
            <input class="botones" type="password" name="password" placeholder="Ingrese su contraseña">
            <input class="botones" type="password" name="password confirm"
                placeholder="Ingresela nuevamente la contraseña">
        </div>
        <input type="checkbox" name="terminos">
        <label for="terminos">Acepto <a href="#">Términos y Condiciones.</a></label>
        <button class="boton-registro" type="submit">REGISTRARME</button>
        <p><a href="/login">¿Ya tengo cuenta?</a></p>
    </form>
    <%- include('./partials/footer') %>
</body>

</html>