<footer>
    <div class="contenedor-footer">
        <div class="caja-footer">
            <div class="logo">
                <img src="/images/logo-de-sportshoes.png" alt="Logo SportShoes">
            </div>
            <div class="gracias">
                <p>Te agradecemos por haber visitado nuestro sitio, en caso de tener alguna duda o problema no dudes en contactarnos. 
                Para no perderte ninguna novedad seguinos en nuestras redes sociales.</p>
            </div>
        </div>
        <div class="caja-footer">
            <h2>Ayuda</h2>
            <a href="#">Preguntas frecuentes</a>
            <a href="#">Sucursales</a>
            <a href="#">Pagos y promociones</a>
            <a href="#">Área de cobertura</a>
            <a href="#">Envíos</a>
        </div>
        <div class="caja-footer">
            <h2>Redes Sociales</h2>
            <a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a>
            <a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a>
            <a href="#"><i class="fa-brands fa-twitter"></i>Twitter</a>
        </div>
    </div>
    <div class="caja-copyright">
        <hr>
        <p>Todos los derechos reservados ©2022
            <b>SportShoes</b></p>
    </div>
</footer>