
 
    
</head>
    <body>
    <div class="contenedorSlider">
        <div class="atras botones">
            &#60
        </div>
        <div class="adelante botones">
            &#62
        </div>
        <img src="./images/c1.jpg"  alt="" class="imagen" id="imagen">

    </div>
        <script src="/js/slider.js" ></script>
    </body>
</html>