<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/239520b2ab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/detalle-de-producto.css">
    <title>Detalle de producto</title>
</head>

<body>
    <header>
        <section>
            <div> <img src="images/logo-de-sportshoes.png" alt="Logo de Sport Shoes"></div>
            <div>
                <ul type="none">
                    <li><a href="">HOMBRE</a></li>
                    <li><a href="">MUJER</a></li>
                    <li><a href="">INFANTIL</a></li>
                    <li><a href="">MARCAS</a></li>
                    <li><a href="">OFERTAS</a></li>
                </ul>
            </div>
            <div>
                <input type="text" width="20px">
            </div>
            <div class="icono-carrito">
                <i class="fa-solid fa-cart-shopping" ></i>
            </div>
            <div>
                <a href=""><img src="" alt="Login"></a>
            </div>
        </section>
    </header>

    <main>

    </main>

    <footer>

    </footer>
</body>

</html>