<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/239520b2ab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/detalle-de-producto.css">
    <title>Detalle de producto</title>
</head>

<body>
    <header>
        <section class="contenedor-flex-header">
            <div class='contenedor-logo-sportshoes'> <img class="logo-sportshoes" src="images/logo-de-sportshoes.png"
                    alt="Logo de Sport Shoes"></div>
            <div>
                <ul class="barra-de-navegacion" type="none">
                    <li><a class="enlaces-barra-de-navegacion" href="">HOMBRE</a></li>
                    <li><a class="enlaces-barra-de-navegacion" href="">MUJER</a></li>
                    <li><a class="enlaces-barra-de-navegacion" href="">INFANTIL</a></li>
                    <li><a class="enlaces-barra-de-navegacion" href="">MARCAS</a></li>
                    <li><a class="enlaces-barra-de-navegacion" href="">OFERTAS</a></li>
                </ul>
            </div>
            <div>
                <input type="text" width="20px">
            </div>
            <div class="icono-carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="icono-login">
                <i class="fa-solid fa-circle-user"></i>
            </div>
        </section>
        <div class="ruta-de-producto">
            <p>Inicio</p>
            <p>></p>
            <p>Outlet</p>
            <p>></p>
            <p>Botín De Fútbol Borussia FG</p>
        </div>
    </header>

    <main>

        <div class="contenedor-fotos-secundarias-botines">
            <img class="foto-secundaria-botines" src="\images\foto-botines-secundaria1.webp" alt="">
            <img class="foto-secundaria-botines" src="\images\foto-botines-secundaria2.webp" alt="">
            <img class="foto-secundaria-botines" src="\images\foto-botines-secundaria3.webp" alt="">
        </div>
        <div class="contenedor-foto-principal-botines"><img class="foto-principal-botines" src="\images\foto-botines-principal.webp" alt=""></div>
        <div>
            <h1>Botin de Futbol Borussia FG</h1>
            <p>$ 15.000</p>

        </div>

    </main>

    <footer>
        <h2>Acerca del producto</h2>
        <h3>HISTORIA DEL PRODUCTO</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores exercitationem cumque inventore eaque et?
            Perspiciatis, consequatur? Sit temporibus quos esse et at voluptates nisi atque nam error magni. Minima,
            commodi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse repellendus fugiat numquam dolore
            ullam et nobis, facere, temporibus deleniti quia qui sapiente iusto eos quidem culpa vitae iste eius quasi?
        </p>
        <br>
        <h3>CARACTERISTICAS Y BENEFICIOS</h3>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque veritatis quisquam ipsum dicta
                magni? Eaque eos soluta id ea.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iste architecto deserunt iure
                exercitationem odio.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nemo et vitae aspernatur temporibus,
                incidunt enim.!</li>
        </ul>
        <h3>DETALLES</h3>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
        </ul>
    </footer>
</body>

</html>