<!DOCTYPE html>
<html>

<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://kit.fontawesome.com/8cc76fc728.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <title>Detalle de producto</title>
        </head>
</head>

<body>
    <header>
        <nav class="topheader-home">
            <div class="logo-home">
                <img class="logo-sportshoes-home" src="images/logo-de-sportshoes.png" alt="Logo de Sport Shoes">
            </div>
            <div class="textos-header-home">
                <a href="#"><p>Mujeres</p></a>
                <a href="#"><p>Hombres</p></a>
                <a href="#"><p>Niños</p></a>
                <a href="#"><p>Descuentos</p></a>
            </div>
            <div class="barra-de-busqueda-home">
                <input type="text" placeholder="Buscar" required>
            <div class="boton-buscar-home">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            </div>
            <ul class="items-menu-home">
                <li class="item-lupa-home"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                <li class="item-desplegable-home"><a href="#"><i class="fa-solid fa-bars"></i></a></li>
            </ul>
        </nav>
    </header>
    <main class="main-detail">
        <section class="section-detail">
            <article class='imagen-producto-detail articles'>
                    <img class="imagen-detail" src=".\images\botines.jpg" alt="Botines">
                </article>
                <article class='descripcion-articulo-detail articles'>

                    <div class='precio-oferta-detail'>
                        <p class='nombre-detail'>BOTINES DE FUTBOL ADIDAS</p>
                        <p class='precio-detail'>$ 6.770</p>
                        <p class='oferta-detail'>10% OFF</p>
                        <button type="button" class="agregar-detail">Agregar al carrito</button>
                        <br>
                    </article>
                    <article class='descripcion-detail articles'>
                        <br>
                        <p class="detalle-detail">DETALLES</p>
                        <br>
                        <p>Algunos jugadores hablan de un buen juego.</p>
                        <p>Pero los mejores lo sienten.</p>
                        <p>Ponete en contacto con tus sentidos y elevá tu juego con el Copa Sense.</p>
                        <p>Estos botines de fútbol ADIDAS cuentan con cuero suave para un primer toque suave.</p>
                        <p>La parte superior sin costuras se amolda alrededor del contorno de tu pie para un ajuste
                            cómodo.</p>
                        <p>La suela ofrece una alta tracción en terrenos firmes.</p>
                        <br>
                    </article>
                    <article class='colores-detail articles'>
                        <p class="colores-top-detail">COLORES</p>
                        <div class="color-producto-detail">
                            <img class="imagen-detail" src=".\images\color-uno.jpg" alt="Botines-color-uno">
                        </div>
                        <div class="color-producto-detail">
                            <img class="imagen-detail" src=".\images\color-dos.jpg" alt="Botines-color-dos">
                        </div>
                        <div class="color-producto-detail">
                            <img class="imagen-detail" src=".\images\color-tres.jpg" alt="Botines-color-tres">
                        </div>
                    </article>
                    <article class="talles-detail articles">
                        <p>TALLES</p>
                        <button type="button" class="talle-detail">42</button>
                        <button type="button" class="talle-detail">44</button>
                    </article>
            </article>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="caja-footer">
                <div class="logo">
                    <img src="images/logo-de-sportshoes.png" alt="Logo SportShoes">
                </div>
                <div class="gracias">
                    <p>Te agradecemos por haber visitado nuestro sitio, en caso de tener alguna duda o problema no dudes en contactarnos. 
                    Para no perderte ninguna novedad seguinos en nuestras redes sociales.</p>
                </div>
            </div>
            <div class="caja-footer">
                <h2>Ayuda</h2>
                <a href="#">Preguntas frecuentes</a>
                <a href="#">Sucursales</a>
                <a href="#">Pagos y promociones</a>
                <a href="#">Área de cobertura</a>
                <a href="#">Envíos</a>
            </div>
            <div class="caja-footer">
                <h2>Redes Sociales</h2>
                <a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a>
                <a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a>
                <a href="#"><i class="fa-brands fa-twitter"></i>Twitter</a>
            </div>
        </div>
        <div class="caja-copyright">
            <hr>
            <p>Todos los derechos reservados ©2022
                <b>SportShoes</b></p>
        </div>
    </footer>

</body>

</html>