<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://kit.fontawesome.com/8cc76fc728.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <title>Login SportShoes</title>
    </head>
    <body class="login">
        <header>
            <nav class="topheader-home">
                <div class="logo-home">
                    <img class="logo-sportshoes-home" src="images/logo-de-sportshoes.png" alt="Logo de Sport Shoes">
                </div>
                <div class="textos-header-home">
                    <a href="#"><p>Mujeres</p></a>
                    <a href="#"><p>Hombres</p></a>
                    <a href="#"><p>Niños</p></a>
                    <a href="#"><p>Descuentos</p></a>
                </div>
                <div class="barra-de-busqueda-home">
                    <input type="text" placeholder="Buscar" required>
                <div class="boton-buscar-home">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                </div>
                <ul class="items-menu-home">
                    <li class="item-lupa-home"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                    <li class="item-desplegable-home"><a href="#"><i class="fa-solid fa-bars"></i></a></li>
                </ul>
            </nav>
        </header>
        <main class="main-login">
            <div class="logo-login"><img class="bordelogo" src="images/logo-de-sportshoes.png" alt="logo de sportshoes" width="150"></div>        </header>
        <section class="primera-seccion-login">
            <form action="/login" method="post">
              <div class="formu"><label class="espacio1" for="usuario">Usuario</label>
                <input  type="text" name="usuario" id="usuario"></div>
                <div class="formu"><label class="espacio2" for="clave">Contraseña</label>
                    <input type="password" name="clave" id="clave">
                </div> 
            </form>
            <div class="centrar"><button class="contenedor">Iniciar sesión</button></div>

            <div class="check"><input class="inputlog" type="checkbox" name="sesion abierta" value="hola">
            <label for=""> Mantener  la sesión abierta</label>
            <a class="color" href="#">Olvidaste tu contraseña?</a></div>
            <div class="nosos">No sos miembro?<a class="color2" href="#">Unite</a></div>
        </section>
        <footer>
            <div class="contenedor-footer">
                <div class="caja-footer">
                    <div class="logo">
                        <img src="images/logo-de-sportshoes.png" alt="Logo SportShoes">
                    </div>
                    <div class="gracias">
                        <p>Te agradecemos por haber visitado nuestro sitio, en caso de tener alguna duda o problema no dudes en contactarnos. 
                        Para no perderte ninguna novedad seguinos en nuestras redes sociales.</p>
                    </div>
                </div>
                <div class="caja-footer">
                    <h2>Ayuda</h2>
                    <a href="#">Preguntas frecuentes</a>
                    <a href="#">Sucursales</a>
                    <a href="#">Pagos y promociones</a>
                    <a href="#">Área de cobertura</a>
                    <a href="#">Envíos</a>
                </div>
                <div class="caja-footer">
                    <h2>Redes Sociales</h2>
                    <a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a>
                    <a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a>
                    <a href="#"><i class="fa-brands fa-twitter"></i>Twitter</a>
                </div>
            </div>
            <div class="caja-copyright">
                <hr>
                <p>Todos los derechos reservados ©2022
                    <b>SportShoes</b></p>
            </div>
        </footer>
    </main>
    </body>