<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/8cc76fc728.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <title>Login SportShoes</title>
    </head>
    <body class="login">
        <%- include('./partials/header') %>
        <main class="main-login">
            <div class="logo-login"><img class="bordelogo" src="images/logo-de-sportshoes.png" alt="logo de sportshoes" width="150"></div>        </header>
        <section class="primera-seccion-login">
            <form action="/login" method="post">
              <div class="formu"><label class="espacio1" for="usuario">Usuario</label>
                <input  type="text" name="usuario" id="usuario"></div>
                <div class="formu"><label class="espacio2" for="clave">Contrase침a</label>
                    <input type="password" name="clave" id="clave">
                </div> 
            </form>
            <div class="centrar"><button class="contenedor">Iniciar sesi칩n</button></div>

            <div class="check"><input class="inputlog" type="checkbox" name="sesion abierta" value="hola">
            <label for=""> Mantener  la sesi칩n abierta</label>
            <a class="color" href="#">Olvidaste tu contrase침a?</a></div>
            <div class="nosos">No sos miembro?<a class="color2" href="#">Unite</a></div>
        </section>
        <%- include('./partials/footer') %>
    </main>
    </body>