<header>
    <nav class="topheader-home">
        <div class="logo-home">
            <img class="logo-sportshoes-home" src="images/logo-de-sportshoes.png" alt="Logo de Sport Shoes">
        </div>
        <div class="textos-header-home">
            <a href="#"><p>Mujeres</p></a>
            <a href="#"><p>Hombres</p></a>
            <a href="#"><p>Niños</p></a>
            <a href="#"><p>Descuentos</p></a>
        </div>
        <div class="barra-de-busqueda-home">
            <input type="text" placeholder="Buscar" required>
        <div class="boton-buscar-home">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        </div>
        <ul class="items-menu-home">
            <li class="item-lupa-home"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
            <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
            <li class="item-desplegable-home"><a href="#"><i class="fa-solid fa-bars"></i></a></li>
        </ul>
    </nav>
</header>